<div class="tweet">
<div class="picture">
	<img src="/images/me.jpg" alt="me">
</div>
<div class="text_tweet">
	<p><b>Jorge Zapico:</b> I am in media production class.</p>
</div>
</div>

<div class="tweet">
	<div class="picture">
		<img src="/images/me.jpg" alt="me">
	</div>
	<div class="text_tweet">	
		<p><b>Jorge Zapico:</b> I am watching Naruto.</p>
	</div>
</div>

<div class="tweet">
	<div class="picture">
		<img src="/images/me.jpg" alt="me">
	</div>
	<div class="text_tweet">
		<p><b>Jorge Zapico:</b> walking around Djurg&aring;rden.</p>
	</div>
</div>
<div id="title">
<h2><a href="http://www.jorgezapico.com" target="_blank">More about me</a></h2>
</div>
</div>


</body>
</html>