<% @tweets.each do |t| %>
<div class="tweet">
	<div class="picture">
		<img src="/images/me.jpg" alt="me">
	</div>
	<div class="text_tweet">	
		<p><b><%= t.user %></b> <%= t.text %></p>
	</div>
</div>
<% end %>